.articles {
  .section__subtitle {
    max-width: 730px;
    margin: 0 auto 4rem;
    padding: 0 1rem;
  }

  &__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .article {
    background-color: $container-color;
    border-radius: 1rem;

    &__img {
      img {
        border-radius: 1rem;
        object-fit: cover;
      }
    }

    &__content {
      padding: 1rem;
    }

    &__title {
      margin: $mb-0-5 0;
    }

    &__text {
      margin-bottom: $mb-1-5;
    }
  }
}



@media screen and (max-width: 992px) {
  .articles {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .articles {
    &__container {
      grid-template-columns: 1fr;
    }
  }

  .article {
    background-color: $container-color;
    border-radius: 1rem;

    &__img {
      display: flex;
      justify-content: center;
    }
  }
}
