.footer {
  background-color: $container-color;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &__container {
    padding: 2rem 0 6rem;
  }

  .footer__title,
  .footer__link {
    color: $title-color;
  }

  &__title {
    text-align: center;
    margin-bottom: $mb-2;
    text-transform: capitalize;
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: $mb-2;
  }

}

.footer .footer__link:hover {
  color: $title-color-dark;
}

.footer .footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

@media screen and (max-width: 992px) {
  .footer__social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}